@import url( 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url( 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.inter {
    font-family: 'Inter', sans-serif;
}
body {
    background-color: white;
}
// ================= COMMON CSS START ================
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 95px;
    margin: 0 auto;
}
.mb-flex,
.mb-show {
    display: none;
}
.secondary-btn {
    border-radius: 4px;
    background: #00486C;
    height: 35px;
    padding: 4px 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
.black-2f2 {
    color: #2F2F2F;
}
.input-box {
    width: 100%;
    height: 47px;
    padding: 10px 30px;
    border-radius: 5px;
    background: #E3E3E3;
    border: none;
    outline: none;
}
.primary-bth {
    border: none;
    outline: none;
    padding: 9px 18px;
    border-radius: 6px;
    background: #138ED1;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-51 {
    width: 50%;
}
.blue-138 {
    color: #138ED1;
}
// ================= COMMON CSS END ================
// 
// 
// ================== FONT SIZE START ============

.fx-12 {
    font-size: 12px;
    line-height: 14px;
}
.fs-18-10,
.fs-18-16 {
    font-size: 18px;
    line-height: 24px;
}
.fs-20-14,
.fs-20-16,
.fs-20-8 {
    font-size: 20px;
    line-height: 30px;
}
.fs-24-16,
.fx-24 {
    font-size: 24px;
    line-height: 29px;
}
.fs-28-18 {
    font-size: 28px;
    line-height: 35px;
}
.fs-32-12 {
    font-size: 32px;
    line-height: 38px;
}
.fs-48-24 {
    font-size: 48px;
    line-height: 70px;
}

// ================== FONT SIZE END  ==============
// 
// 
// ?============= HEADER CSS START =================
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 83px;
    position: relative;

}
.logo {
    width: 100%;
    max-width: 220px;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.logo-icon,
.mb-logo,
.menu-lable {
    display: none;
}
.side-nav-bar {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
    padding: 0;
    li {
        font-family: 'Inter', sans-serif;
        text-align: center;
        color: #000;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 22px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        .play-store {
            height: 35px;
            margin-left: 1vw;
            object-fit: contain;
            width: 100%;
        }
    }
    .activ {
        color: #138ED1;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
}
// ?============= HEADER CSS END =================
// 
// 
// 
// 
// ?=============== HERO SECTION CSS START ===============
.hero-section {
    padding: 43px 0 39px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
        background: linear-gradient(90deg, #75CFFF 22.19%, rgba(117, 207, 255, 0.00) 68.54%);
    }
}
.hero-wrapper {
    // flex-wrap: wrap;
}
.call-details-box {
    width: 80%;
    max-width: 440px;
    padding: 26px 40px 26px 20px;
    border-radius: 34px;
    background: #FFF;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    ul {
        li {
            i {
                color: #138ED1;
            }

        }
    }
}
.mw-236 {
    max-width: 236px;
    width: 100%;
}
.hero-img {
    max-width: 540px;
    width: 40vw;
    object-fit: contain;
}
.desk-offer {
    border-radius: 34px;
    background: #00A6FF;
    padding: 0 22px 0 0;
    font-size: 24px;
    line-height: 28px;
    color: white;
    font-weight: 600;
    margin: 14px 0;
    min-width: 646px;
    h5 {
        border-radius: 35px;
        border: 1px solid #FFF;
        background: #00486C;
        margin: 0;
        padding: 22px;
    }
}
.zic-underline {
    position: relative;
    color: #138ED1;
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 19px;
        background: url('../images/underline.png') center no-repeat;
        background-size: contain;

    }
}
// ?=============== HERO SECTION CSS END  =================

// --------------------- EXPANDING START --------------
.keep-expanding-section {
    padding: 50px 0;
}
.expand-info {
    border-radius: 16px;
    border: 1px solid #138ED1;
    background: #138ED1;
    width: 100%;
    max-width: 202px;
    padding: 10px;
    height: 79px;
    text-overflow: ellipsis;
    // white-space: nowrap;
    overflow: hidden;
}

// --------------------- EXPANDING END --------------
// 
// 
// ?============= top package section start -------------------
.mw-927 {
    max-width: 927px;
    width: 100%;
}
.black-6E6 {
    color: #6E6E6E;
}
.top-package-section {
    padding: 30px 0;
}
.packages-card-wrapper {
    padding: 20px 0;
    flex-wrap: wrap;
    .card-box {
        width: 100%;
        max-width: 350px;
        background: #FFF;
        padding: 40px 20px;
        box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    }
}
// ?============= top package section end -------------------
// 
// 
// 
// ?======================= WHY CHOICE US SECTION START =================
.why-choose-wrapper {
    position: relative;
    background: url("../images/doctor.png") right bottom no-repeat;
    background-size: contain;
}
.content-cards-wrapper {
    width: 75%;
    padding: 80px 0 40px;
    .box-one {
        position: relative;
        width: 100%;
        height: 200px;
        max-width: 370px;
        border-radius: 33px;
        background: #FFF;
        padding: 20px 15px;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        img {
            position: absolute;
            right: -20px;
            top: -60px;
        }
    }
}
.add-bgwave {
    background: url("../images/bag-wave.png") bottom no-repeat;
    background-size: contain;
}
.mb-accordion {
    .accordion-button {
        border-radius: 38.5px;
        background: #FFF;
        border: none;
        box-shadow: none;
        .hed-image {
            width: 45px;
            height: 45px;
        }
    }
    .accordion-item {
        margin: 7px 0;
        border-radius: 38.5px;
        background: #FFF;
        overflow: hidden;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.25);
        .accordion-body {
            padding-top: 0;
            padding-bottom: 30px;
        }
    }
}
// ?======================= WHY CHOICE US SECTION END =================
// 
// ?--------------- FOOTER SECTION START -------------------------
.footer-sesction{
    background: #1F1F1F;
    padding: 74px 0 90px 0;
}
.footer-wrapper{
    padding-bottom: 25px;
    border-bottom: 1px solid white;
}
.description-box-footer {
    width: 43%;
    img {
        margin-bottom: 32px;

    }
    p {
        margin-bottom: 72px;
    }
    .call-box {
        width: 100%;
        max-width: 471px;
        display: flex;
        border-radius: 14px;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(12.5px);
        overflow: hidden;
        .number {
            width: 20%;
            padding: 12px;
            font-size: 24px;
            line-height: 30px;
            color: white;
            text-align: center;
        }
        .phone-no{
            width: 60%;
            border: none;
            outline: none;
            height: 100%;
            background-color: transparent;

        }
        .call-btn{
            width: 20%;
            background-color: #00A6FF;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
        }
    }
}
.leagle-servece-footer{
    width: 57%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-left: 4%;
    ul{
        li{
            margin-bottom: 32px;
            &:first-child{
                margin-bottom: 64px;
            }
        }
    }
}
// ?--------------- FOOTER SECTION END -------------------------
// 
//
